
.qq-slider {
    width: 100%;
    overflow: hidden;
    .qq-slider-wrap {
        display: flex;
        transition: .3s;
    }
    .qq-slider-item {
       > a {
            display: block;
            img{
                width: 100%;
                display: block;
            }
       } 
    }
}